<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <title py:content="name" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        // <![CDATA[
            $(function(){
                $('#edit').click(function(){
                    $('.content').empty().append('<form id="editor" method="post"><textarea name="content"></textarea><input type="submit" name="button" /></form>');
                    $('textarea').load(window.location + '?raw=True').focus();
                    $('#editor').submit(function(){
                        $('div.content').load(window.location + '#', {'content': $('textarea:first').val()});
                        return false;
                    });
                    
                    return false;
                });
                
                $('#delete').click(function(){
                    if ( alert('Are you sure?') )
                        window.location = window.location + '?_verb=delete';
                });
            });
        // ]]>
        </script>
        <style type="text/css" media="screen">
            button { font-size: inherit; float: right; margin: 10px; }
            textarea { width: 100%; height: 200px; font-size: inherit; }
        </style>
    </head>
    <body>
        <button id="edit">Edit this article.</button>
        <button id="delete">Delete this article.</button>
        <div class="content" py:content="HTML(content)" />
    </body>
</html>